body {
    background-color: #f5f5f7;
    margin: 0;
    font-family: Arial, sans-serif;
    
}

.container {
  width: 100%;
  height: 100vh;
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    
}

.vertical-list ul, .horizontal-list ul {
    padding: 1px;
    
    
}

.vertical-list li {
    margin: 8px 0;
    
}

.horizontal-list ul {
  width: 100%;
    display: flex;
    padding: 1px;
    list-style-type: none;
      
      
      
    
}

.horizontal-list li {
    margin: 0 8px;
}
.sub{
  padding: 10px;
  margin-top: 5vh;
  width: 100%;
  height: 5vh;
  
  background-color: darkgreen;
  
    
    
  display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: end;
}


#First_Page{
  
}
#linux_editor,#android_editor{
  display: none;
}
#second_page{
  
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 76vh ;
  background-color: transparent;
}
#First_Page{
  width: 100%;
  display: flex;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button{
  
  padding: 10px;

  border-radius: 40px;
  background-color: transparent;
 font-size: 15px;
  color: white;
  border: none;
    cursor: pointer;
    transition: transform .5s ease-in-out;
}
button:hover{
  transform: scale(1.1);
  color: yellow;
}

@media screen and (min-width: 600px){
 button{
   font-size: 24px;
 }  
 #linux_editor,#android_editor{
   font-size: 20px;
 }
}
